* {
  margin: 0;
  padding: 0;
}
/* color */
:root {
  --primary-color: #ff6600;
  --font-color: rgba(22, 28, 45, 0.7);
  --bg-color: #fff;
  --heading-color: #232121;
  --border-color-light: #eee;
  --bg-light: rgba(130, 115, 252, 0.05);
  --bg-grey: #f7f7f7;
}
.dark_theme {
  --primary-color: #ff6600;
  --font-color: #c2d0da;
  --bg-color: #232220;
  --heading-color: #eee;
  --border-color-light: rgba(255, 255, 255, 0.1);
  --bg-light: #282828;
  --bg-grey: #282828;
}
body {
  font-family: "Quicksand", sans-serif;
}
.container {
  max-width: 1200px;
}

/* mode: dark-light */
/* popup */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  /* Sit on top */
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */
  background-attachment: fixed;
}
.close {
  color: white;
  position: absolute;
  top: 45px;
  right: 50px;
  font-size: 24px;
  background-color: #ff6600;
  opacity: 2;
  padding: 8px 12px 8px 12px;
  border-radius: 6px;
}
.modal-content {
  text-align: center;
  width: 100%;
  background: none;
  border: none;
  position: relative;
  transition: 0.05s;
}
.modal-content ul {
  padding-top: 100px;
}
.modal-content ul li {
  list-style: none;
  font-weight: 600;
  padding-top: 20px;
  font-size: 20px;
}
.modal-content ul li a {
  text-decoration: none;
  color: white;
  transition: 0.1s;
}
.modal-content ul li a:hover {
  color: #ff6600;
}
.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* start header */
#myBtn {
  top: 6%;
  right: 10%;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
}

header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-family: "Quicksand", sans-serif;
  background-attachment: fixed;
  min-height: 700px;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(../img/banner1.jpg);
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background-color: var(--bg-color);
}
.navbar_left a,
.navbar_left a h2 {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 36px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar_right {
  align-items: center;
}

.input_group_mode {
  background-color: var(--bg-color);
}
.input_group_mode i {
  color: var(--font-color);
  font-size: 14px;
  padding-right: 12px;
}

.nar_bar .input_group_mode {
  padding-right: 50px;
  border-radius: 6px;
}
.form_mode {
  background-color: var(--bg-color);

  padding: 22px 15px;
  border-radius: 6px;
}

#icon_mode {
  padding: 0 20px 0 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_bar i {
  color: white;
  cursor: pointer;
  font-size: 25px;
}

*/ .title_container {
  padding-top: 100px;
}
.title_container h1 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding-top: 60px;
}
.title_container p {
  color: white;
  margin-bottom: 50px;
}
.title_container button {
  border: 2px solid white;
  color: white;
  transition: 0.5s;
  padding: 12px 45px;
  font-weight: 800;
  font-size: 16px;

  display: flex;
  align-items: center;
}
.title_container button i {
  margin-left: 10px;
}

.title_container button:hover {
  border-color: white;
  background-color: white;
  color: #ff6600;
}

/* end header */
/* start About us */
.About_us {
  padding-top: 100px;
  font-family: "Quicksand", sans-serif;
}

.about_left h1 {
  color: var(--heading-color);
}
.about_left h4 {
  color: #ff6600;
  font-family: "Pacifico", cursive;
}
.about_right p {
  font-size: 18px;
  color: var(--font-color);
}

/* end About us */
/* start branch_res */
.branch_res {
  background-color: #ff6600;
  font-family: "Quicksand", sans-serif;
  height: 80vh;
  margin-top: 80px;
}
.branch_left {
  background-image: url(../img/banner3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.branch_left::before {
  content: "";
  background: rgba(16, 15, 19, 0.5);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
}
.branch_right {
  color: white;
  padding: 70px;
}
.branch_right .branch_title h3 {
  font-family: "Pacifico", cursive;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
}
.branch_right .branch_title h1 {
  color: var(--heading-color);
  font-weight: 600;
}
.branch_right .branch_title p,
.branch_but p {
  line-height: 30px;
  font-size: 18px;
  font-weight: 100;
  padding-bottom: 50px;
}
.branch_but h5 {
  color: var(--heading-color);
  font-weight: 900;
  cursor: pointer;
}
.branch_but i {
  background-color: white;
  color: #ff6600;
  padding: 22px;
  font-size: 24px;
  transition: 0.5s;
  text-align: center;
}
.branch_but:hover i {
  color: yellow;
}
/* categories */
.categories {
  background: var(--bg-grey);
}
.categories__title h6 {
  font-family: "Pacifico", cursive;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
}
.categories__item {
  margin-top: 2rem;
}
.categories__title h3 {
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  color: var(--heading-color);
}
.item__img {
  position: relative;
}
.categories__item .item__img::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: " ";
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
.item__img img {
  border-radius: 6px;
}
.item__img img:hover {
  opacity: 0.85;
  transition: all 0.4s;
}

.item__info {
  position: absolute;
  bottom: 0;
  left: auto;
  width: 95%;
  transform: translate3d(0, 10%, 0);
}
.item__info a {
  text-decoration: none;
}
.item__info h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}
.item__info h6 {
  font-weight: 600;
  color: #ffc600;
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  opacity: 0.9;
}
/* end categories */

/* services */
.services .box-wrap {
  padding: 40px 40px;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  background-color: var(--bg-color);
  position: relative;
  border: 1px solid var(--border-color-light);
}
.services .box-wrap:hover {
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}
.services .box-wrap:hover .icon {
  color: #fff;
  background: var(--primary-color);
}
.services .icon i {
  color: var(--primary-color);
  font-size: 25px;
  line-height: 70px;
  display: inline-block;
  transition: all 0.5s;
}
.services .box-wrap:hover i {
  color: #fff;
}
.services .box-wrap-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}

.services .icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: var(--bg-light);
  line-height: 70px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}

.services .box-wrap h4 a {
  font-size: 24px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
  color: var(--heading-color);
  text-decoration: none;
}
.services .box-wrap h4:hover a {
  color: #ff6600;
}
.services .box-wrap p {
  font-size: 18px;
  color: var(--heading-color);
}

/* end services */

/* middle  */
.middle {
  background: url(../img/banner2.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.middle:before {
  content: "";
  background: rgb(16 15 19 / 66%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.welcome-left {
  max-width: 700px px;
  margin: 0 auto;
}
.welcome-left h3 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
}

.middle-buttons .btn-style,
.middle-buttons .btn-white {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
}
.middle-buttons .btn-white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.middle-buttons .btn-white:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #ff6600;
}
.middle-buttons .btn-primary {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
}
.middle-buttons .btn-primary:hover {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
  opacity: 0.8;
}
/* end middle  */

/* number  */
section.number {
  margin-top: -70px;
  z-index: 10;
  position: relative;
}
.counter {
  background-color: var(--bg-color);
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  padding: 40px 20px;
  border-radius: 6px;
  text-align: center;
  transition: 0.3s ease;
}
.counter:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
    rgba(71, 63, 79, 0.16) 0px 5px 10px;
}
.counter span.fa {
  background: var(--primary-color);
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
}
.timer {
  font-size: 2.6em;
  font-weight: 600;
  color: var(--heading-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
p.count-text {
  text-transform: capitalize;
  color: var(--font-color);
  font-weight: 600;
}
/* end number  */

/* video  */
.video .history-info {
  background: url(../img/banner3.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
  min-height: 500px;
  border-radius: 6px;
}
.video .history-info:before {
  content: "";
  background: rgb(16 15 19 / 60%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 6px;
}
.video span.video-play-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 26px;
  padding-left: 2px;
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: ripple 1s linear infinite;
  color: var(--primary-color);
  border: transparent;
  background: #fff;
}
.video span.video-play-icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
  background: var(--primary-color);
  border: transparent;
  color: #fff;
}
.video span.video-play-icon:hover .fa fa-play {
  color: #fff;
}
#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
/* end video  */
/* animation  */
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

.blogposts {
  background: var(--bg-grey);
}
#testimonials {
  background: var(--bg-grey);
}
.blogposts h3 {
  color: var(--heading-color);
}

.title-subhny {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}

.title-w3l {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.blogposts .card {
  position: relative;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.blogposts .card-header {
  border: none;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.radius-image {
  border-radius: 6px;
}
.blogposts .post-pos {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.blogposts a.receipe {
  text-decoration: none;
  background: #ff6600;
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
}
.blogposts .meta-info {
  opacity: 1;
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: 0.02em;
}

/* card body */
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.blogposts a.blog-desc {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 25px;
  margin-bottom: 15px;
  transition: 0.3s ease;
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  font-family: "Quicksand", sans-serif;
  color: var(--font-color);
}

.blogposts .p-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.blogposts .p-meta-info {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: flex-start;
}

.blogposts a.post-img-anchor {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.blogposts .p-meta-info img {
  width: 40px;
  height: 40px;

  border-radius: 50%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
#testimonials h3 {
  color: var(--heading-color);
}

.blogposts .p-meta-info a {
  font-weight: 700;
  color: var(--heading-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.blogposts a.read {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 750;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  opacity: 0.9;
  text-decoration: none;
}
.blogposts a.read:hover {
  color: #ff6600;
}

/* testimonials */

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
}

.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  position: relative;
  touch-action: pan-y;
  user-select: none;
}

.w3l-agency-test .testimonial-content {
  max-width: 700px;
  margin: auto;
}

.w3l-clients a.comment-img {
  left: 0px;
  top: 0px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.w3l-clients .testimonial img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

blockquote {
  margin: 0 0 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.w3l-clients blockquote q {
  font-size: 24px;
  line-height: 36px;
  color: var(--heading-color);
  font-weight: 600;
}

.w3l-clients blockquote q::before {
  content: '"';
  font-size: 50px;
  color: #ff6600;
  display: block;
  font-family: initial;
}

.w3l-clients .testimonial .people-info h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.w3l-clients p.indentity {
  font-size: 18px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
  margin-top: 4px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ff6600;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 2px;
  background: #d8d8d8;
  display: block;

  transition: opacity 0.2s ease;
  border-radius: 30px;
  position: relative;
}

.owl-dot {
  margin: 30px 10px 0px 10px;
}

/* footer */

.w3l-footer-29-main {
  background: black;
}

.w3l-footer-29-main a.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
}

.w3l-footer-29-main p {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

.main-social-footer-29 a {
  margin-right: 10px;
  background: #fff;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: #ff6600;
  font-size: 16px;
  color: #f60;
  transition: 0.3s;
}
.main-social-footer-29 a:hover {
  background: #f60;
  transition: 0.3s;
  color: #fff;
}

.w3l-footer-29-main h6.footer-title-29 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
  text-decoration: none;
}

.w3l-footer-29-main .footer-list-29 ul li {
  list-style: none;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer-list-29 ul li a {
  font-size: 15px;

  line-height: 30px;
  color: #a5a2a1;
}

.w3l-footer-29-main input[type="email"] {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: rgba(22, 28, 45, 0.7);
  background: white;
  border-radius: 6px;
}
.btn-style,
.btn-white {
  background-color: #ff6600;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
}
.btn-primary:hover {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
  opacity: 0.8;
}

/* copyright */

.w3l-copyright {
  padding: 1.2em 0;
  background: black;
  border-top: 1px solid rgb(255 255 255 / 5%);
}

.w3l-copyright p.copy-footer-29 {
  align-self: center;
  color: #ddd;
  font-size: 17px;
}

.w3l-copyright .copy-footer-29 a {
  color: #ff6600;
}

li {
  list-style: none;
}

/* move to top */
.backToTop {
  width: 50px;
  height: 50px;
  background: #ff6600;
  padding: 0;
  line-height: 50px;
  text-align: center;
  border-radius: 35px;
  border: none;
  outline: none;
  /* display: none; */
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.owl-dot {
  border: none;
}

/* .owl-next, .owl-prev */
.owl-carousel .owl-nav.disabled {
  display: none;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

/* .w3l-footer-29-main .footer-list-29 ul li a:hover,
.w3l-copyright .footer-list-29 ul li a:hover,
.w3l-footer-29-main a:hover {
  color: #ff6600;
} */

.diner {
  color: #d8d8d8;
}
.diner:hover {
  color: #ff6600;
  text-decoration: none;
}
.w3l-copyright .footer-list-29 ul li a:hover,
.w3l-footer-29-main .nam:hover {
  text-decoration: none;
  color: #ff6600;
}
/* responsive */

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  header {
    left: 6%;
  }
  .container {
    max-width: 720px;
  }
  .carousel__content h1 {
    font-size: 44px;
  }
  .stats {
    margin-top: 0;
  }
  .btn-style,
  .btn-white {
    padding: 10px 21px;
  }
  .backToTop {
    margin-right: 30px;
  }
  header .header__nav {
    padding-right: 50px;
  }
  header .header__left a {
    padding: 0;
  }
  .carousel {
    min-height: 650px;
  }
}
/* Mobile */

@media (max-width: 740px) {
  .carousel {
    min-height: 450px;
    margin-top: 60px;
  }
  header {
    left: 6%;
  }
  .carousel__content h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .container {
    max-width: 350px;
  }
  .stats {
    margin-top: 0;
  }
  .btn-style,
  .btn-white {
    padding: 10px 20px;
  }
  .backToTop {
    margin-right: 30px;
  }
  .header__right input {
    display: none;
  }
  .header__right span i {
    display: none;
  }
  .header__left {
    margin-right: 50px;
  }
  header .header__left a {
    padding: 10px 0;
  }
}
